<p-toast></p-toast>
<div>
 
    <div class="card">
        <p-table #dt [resizableColumns]="true" columnResizeMode="expand" [value]="planList" [rows]="10"
            [paginator]="true" [columns]="cols"
            [globalFilterFields]="['planName','noOfUser', 'validity','price','gstPercentage','totalPrice']"
            [(selection)]="selectedPlans" [rowHover]="true" dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-sm p-datatable-responsive-demo p-setup-table"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="paginationvalue">
            <ng-template pTemplate="caption">
                <div class="p-grid table-header">
                    <div class="">
                        <div>
                            <h4 class="p-m-0">Manage Plans</h4>
                        </div>
                        <!-- <div class="p-d-flex p-ai-center p-jc-between" >
							Displaying 
                            {{dt.totalRecords ? dt.totalRecords: 0 }} out of {{staffs ? staffs.length : 0 }}
						staffs.
						</div> -->
                    </div>
                    <div class="search-bar-container">
                        <span class="p-input-icon-left">
                            <em class="pi pi-search"></em>
                            <input type="text" pInputText (input)="dt.filterGlobal(
                                   $any($event.target).value, 'contains')" style="height: 30px;padding-left: 2rem;" />
                        </span>
                        <!-- <span>
                            <button type="button" label="" pButton pRipple icon="pi pi-refresh" (click)="clear(dt)"
                                class="p-mr-2" pTooltip="Reset" tooltipPosition="bottom"></button>
                        </span> -->
                    </div>
                    <div class="exportBtnSet padding0">
                        <div class="speedDial p-mr-2" [ngClass]="{'active': speedDial}">

                            <!-- <button type="button" pButton pRipple icon="pi pi-download" label=""
								class="p-button-warning buttonWidth90" pTooltip="Export" tooltipPosition="bottom"
								*ngIf="exportdisplay" (mouseenter)="speedDial = !speedDial"
								(click)="exportExcel(selectedStaffs,dt)"></button> -->
                        </div>
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                            pTooltip="New" tooltipPosition="bottom" (click)="openNew()"></button>

                        <!-- <button pButton pRipple label="Notification" icon="pi pi-eye" class="p-button-success p-mr-2"
							pTooltip="New" tooltipPosition="bottom" (click)="openNotofication()"></button> -->
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="table-cell">
                    <th pResizableColumn id="sno" style="width: 3rem"></th>
                    <th pResizableColumn id="planName" pSortableColumn="planName" style="text-align:center">Plan
                        Name<p-sortIcon field="planName">
                        </p-sortIcon>
                    </th>
                    <th pResizableColumn id="noOfUser" pSortableColumn="noOfUser" style="text-align:center">
                        No of Users<p-sortIcon field="noOfUser">
                        </p-sortIcon>
                    </th>
                    <th pResizableColumn id="validity" pSortableColumn="validity" style="text-align:center">
                        Validity<p-sortIcon field="validity">
                        </p-sortIcon>
                    </th>
                    <th pResizableColumn id="price" pSortableColumn="price"
                        style="text-align:center; width: 12rem;">Price<p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pResizableColumn id="gstPercentage" pSortableColumn="gstPercentage"
                        style="text-align:center; width: 12rem;">GST<p-sortIcon field="gstPercentage"></p-sortIcon>
                    </th>
                    <th pResizableColumn id="totalPrice" pSortableColumn="totalPrice"
                    style="text-align:center; width: 12rem;">TotalPrice<p-sortIcon field="totalPrice"></p-sortIcon>
                </th>

                    <th pResizableColumn id="Action" style="width: 8rem; text-align:center" rowspan="2">Action</th>
                </tr>
                <tr>
					<th pResizableColumn  id="sno" style="width: 3rem">
						<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
					</th>
					<th pResizableColumn  id="planName">
                            <input pInputText type="text"
                            (input)="dt.filter($any($event.target)?.value, 'planName', 'contains')"
                            [value]="$any(dt.filters['planName'])?.value" placeholder="Search by User Name"
                            class="p-column-filter">
					</th>
					<th pResizableColumn  id="noOfUser">
                        <input pInputText type="text"
                        (input)="dt.filter($any($event.target)?.value, 'noOfUser', 'contains')"
                        [value]="$any(dt.filters['noOfUser'])?.value" placeholder="Search by no of User "
                        class="p-column-filter">
					</th>
					<th pResizableColumn  id="validity">
                        <input pInputText type="text"
                        (input)="dt.filter($any($event.target)?.value, 'validity', 'contains')"
                        [value]="$any(dt.filters['validity'])?.value" placeholder="Search by validity"
                        class="p-column-filter">
					</th>
					<th pResizableColumn  id="price" style="width: 12rem">
                        <input pInputText type="text"
                        (input)="dt.filter($any($event.target)?.value, 'price', 'contains')"
                        [value]="$any(dt.filters['price'])?.value" placeholder="Search by Price"
                        class="p-column-filter">
					</th>
					<th pResizableColumn  id="gstPercentage" style="width: 12rem">
                        <input pInputText type="text"
                        (input)="dt.filter($any($event.target)?.value, 'gstPercentage', 'contains')"
                        [value]="$any(dt.filters['gstPercentage'])?.value" placeholder="Search by GST"
                        class="p-column-filter">
					</th>
                    <th pResizableColumn  id="totalPrice" style="width: 12rem">
                        <input pInputText type="text"
                        (input)="dt.filter($any($event.target)?.value, 'totalPrice', 'contains')"
                        [value]="$any(dt.filters['totalPrice'])?.value" placeholder="Search by Total Price"
                        class="p-column-filter">
					</th>
					
				</tr>
            </ng-template>
            <ng-template pTemplate="body" let-plan>
                <tr class="table-res">
                    <td data-th="" style="padding-right: 0px !important;" class="checkboxe">
                        <p-tableCheckbox [value]="plan"></p-tableCheckbox>
                    </td>
                    <td data-th="User Name" class="" style="padding: 0px 6px !important;">
                        {{plan.planName}} </td>
                    <td data-th="Company Name" class="" style="padding: 0px 6px !important;">
                        {{plan.noOfUser}}</td>
                    <td data-th="Email" style="padding: 0px 6px !important;">{{plan.validity}}</td>
                    <td data-th="Mobile" style="padding: 0px 6px !important;">{{plan.price}}</td>
                    <td data-th="UserType" style="padding: 0px 6px !important;">
                        {{plan.gstPercentage}} </td>
                        <td data-th="totalPrice" style="padding: 0px 6px !important;">
                            {{plan.totalPrice}} </td>
                    <td data-th="Action">
                        <button pButton pRipple icon="pi pi-microsoft" class="p-button-rounded p-button-warning p-mr-2"
                            (click)="viewDetails(plan)"></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editSelectedPlan(plan)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                            (click)="deletePlan(plan)" title="Delete">
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog header="{{Form_name}}" [(visible)]="visible">
        <div>
            <form [formGroup]="planForm" (ngSubmit)="onSubmit(planForm)">
                <label for="planName">Plan Name</label>
                <input id="planName" type="text" formControlName="planName" />
                <div *ngIf="planForm.get('planName')?.touched && !planForm.get('planName')">
                    Plan Name is required.
                </div>
    
                <label for="noOfUser">No Of Users</label>
                <input id="noOfUser" type="text" formControlName="noOfUser" />
                <div *ngIf="planForm.get('noOfUser')?.touched && !planForm.get('noOfUser')">
                    No Of Users is required.
                </div>
    
                <label for="validity">Validity</label>
                <input id="validity" type="text" formControlName="validity" />
                <div *ngIf="planForm.get('validity')?.touched && !planForm.get('validity')">
                    Validity is required.
                </div>
    
                <label for="price">Price (in INR)</label>
                <input id="price" type="text" formControlName="price" />
                <div *ngIf="planForm.get('price')?.touched && !planForm.get('price')">
                    Price is required.
                </div>

    
                <label for="gstPercentage">GST %</label>
                <input id="gstPercentage" type="text" formControlName="gstPercentage" />
                <div *ngIf="planForm.get('gstPercentage')?.touched && !planForm.get('gstPercentage')">
                    GST Price is required.
                </div>

                <!-- <label for="gstPercentage">GST %</label>
                <p-dropdown [options]="GstType" appendTo="body" (onChange)="dt.filter($event.value, 'client_category', 'startsWith')"
						styleClass="p-column-filter" placeholder="Select Status" [showClear]="true">
						<ng-template let-option pTemplate="item">
							<span [class]="'customer-badge status-' + option.value"  >{{option.label}}</span>
						</ng-template> 
					</p-dropdown> -->
    
                <button type="submit" [disabled]="planForm.invalid">Submit</button>
            </form>
        </div>
    </p-dialog>

    <p-dialog header="Plan Details" [(visible)]="visiblePlanDetails">
        <div class="user-details-container">
          <div class="user-detail-item">
            <label>Plan Name:</label>
            <span>{{ selectedPlan?.planName }}</span>
          </div>
          <div class="user-detail-item">
            <label>No of Users:</label>
            <span>{{ selectedPlan?.noOfUser }}</span>
          </div>
          <div class="user-detail-item">
            <label>Validity:</label>
            <span>{{ selectedPlan?.validity }}</span>
          </div>
          
          <div class="user-detail-item">
            <label>price:</label>
            <span>{{ selectedPlan?.price }}</span>
          </div>
          <div class="user-detail-item">
            <label>GST Percentage:</label>
            <span>{{ selectedPlan?.gstPercentage }}</span>
          </div>
         
          <div class="user-detail-item">
            <label>Total Price:</label>
            <span>{{ selectedPlan?.totalPrice }}</span>
          </div>
          <!-- Add more user details as needed -->
    
          <button pButton pRipple label="Close" class="p-button-secondary" (click)="visiblePlanDetails = false"></button>
        </div>
      </p-dialog>
      <p-confirmDialog [style]="{width: '470px'}"></p-confirmDialog>  
</div>