header {
    background-color: #81d8ff;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    img {
      height: 70px;
    }
  
    .logout-button {
      background-color: #fff;
      color: #001f2d;
      padding: 8px 12px;
      border: none;
      cursor: pointer;
      border-radius: 1px;
    }
  }